*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin: 10px 0;
  background-color: aquamarine;
  padding: 1rem;
}

.container div{
  margin: 5px;
}

.cta button{
  font-size: 20px;
  margin-left: 8px;
  padding: 8px;
}